.navbar-style { 
  background-color:#b53733; 
} 

.nav-link {
  color: #FFFFFF !important;
}

.processing-style{
  border-radius: 5px;
  background-color: #363839;
  margin-top: 50px;
  height: 250px;
}

.processing-col-style{
  text-align: center;
  padding-top: 20px;
}

.processing-title-style{
  color: #FFFFFF;
}

.toast-style{
  position: absolute;
  top: 100px;
  right: 0;
}

.mr-auto{
  color: #b53733;
}